.main-heading {
    color: rgb(19, 46, 248);
    font-family: sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-variant: small-caps;
    box-sizing: border-box ;
    line-height: 20px;
  }
  
  .paragraph {
    color: goldenrod;
    font-family: "playfair display";
    font-size: 28px;
    font-style: normal;
    text-align: center;
    font-weight: normal;
  }
  .img{
    width: 50%;
    height: 50%;
    margin-left: 25%;
  }
  .paragraph1 {
    color: salmon;
    font-size: 28px;
    font-variant: small-caps;
    font-family: "roboto";
    font-weight: bold;
    text-align: center;
  }
  .paragraph2 {
    color: green;
    font-size: 40px;
    font-family: "roboto";
    font-variant: small-caps;
    font-weight: bold;
    font-style:italic;
    text-align: center;
  }
  .motto{
    text-align: center;
    font-family: cursive;
    font-weight: 900;
    letter-spacing: 2px;
    color: rgb(0, 195, 255);
  }
  .ad{
    text-align: center;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #trst{
    align-items: center;
    color: fuchsia;
    
  }
  .form{
    border: 3px;
    border-style: solid;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
  }
  #paymentButton{
    background-color: blue; 
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
  }
  #paymentButton1{
    background-color: black; 
    color: goldenrod;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
  }