
.borders-title{
    color: mediumblue;
    text-align: center;
}
.second-title{
    color: red;
    text-align: center;
}
.third-title{
    color: maroon;
    text-align: center;
}
.fourth-title{
    color: crimson;
    text-align: center;
}
.dotted{
    border-style: dotted;
    text-align: center;
}
.dashed{
    border-style: dashed;
    text-align: center;
}
.solid{
    border-style: solid;
    text-align: center;
}
.double{
    border-style: double;
    text-align: center;
}
.ridge{
    border-style: ridge;
    text-align: center;
}
.inset{
    border-style: inset;
    text-align: center;
}
.outset{
    border-style: outset;
    text-align: center;
}
.groove{
    border-style: groove;
    text-align: center;
}
.none{
    border-style: none;
    text-align: center;
}
.hidden{
    border-style: hidden;
    text-align: center;
}
.mix{
    border-style: dotted dashed solid double;
    text-align: center;
}
.dotted1{
    border-style: dotted;
    padding: 25px;
}
.dashed1{
    border-style: dashed;
    padding: 25px 50px;
}
.solid1{
    border-style: solid;
    padding: 25px 50px 75px;
}
.double1{
    border-style: double;
    padding: 25px 50px 75px 100px;
}
.ridge1{
    border-style: ridge;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 75px;
    padding-left: 100px;
}
.dotted2{
    border-style: dotted;
    margin: 25px;
}
.dashed2{
    border-style: dashed;
    margin: 25px 50px;
}
.solid2{
    border-style: solid;
    margin: 25px 50px 75px;
}
.double2{
    border-style: double;
    margin: 25px 50px 75px 100px;
}
.ridge2{
    border-style: ridge;
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 75px;
    margin-left: 100px;
}
.dotted3{
    border-style: dotted;
    padding: 25px;
    margin: 25px;
}
.dashed3{
    border-style: dashed;
    margin: 25px 50px;
    padding: 25px 50px;
}
.solid3{
    border-style: solid;
    margin: 25px 50px 75px;
    padding: 25px 50px 75px;
}
.double3{
    border-style: double;
    margin: 25px 50px 75px 100px;
    padding: 25px 50px 75px 100px;
}
.ridge3{
    border-style: ridge;
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 75px;
    margin-left: 100px;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 75px;
    padding-left: 100px;
}